* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  margin-bottom: 60px;
  width: 100%;
  font-family: sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #333333;
}

header {
  color: #ffffff;
  padding: 20px;
  text-decoration: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  font-size: 1rem;
  background-color: #215baa;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  background-color: #215baa;
}


.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo span {
  padding: 0 1rem 0 0.5rem;
  animation: title 2s ease-in;
  position: relative;
  z-index: 4;
  font-size: 2.7rem;
  font-weight: bolder;
  color: #fff;
  margin-left: -1rem;
  text-transform: uppercase;
  white-space: nowrap;

}

.titleNav{
  margin-left: -10rem;
}


.btnNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}


@keyframes title {
  from {
    transform: translateX(-1rem);
    color: #2ea9ff;
    opacity: 0;
  }

  to {
    transform: translateX(0rem);
  }
}

#logoAnimada {
  position: relative;
  z-index: 5;
  animation: transform 2.3s cubic-bezier(0.175, 0.885, 0.32, 1.25) normal;
  display: block;

}

@keyframes transform {
  0% {
    transform: translateX(0rem) rotateZ(45deg);
  }

  75% {
    transform: translateX(21rem) rotateZ(45deg);
  }

  80% {
    transform: translateX(21rem) rotateZ(45deg) scale(0.8);
    opacity: 0;
  }

  85% {
    transform: translateX(0rem) rotateX(405deg) scale(0.8);
    opacity: 0;
  }

  100% {
    transform: translateX(0rem) rotateZ(0deg);
    opacity: 1;
  }
}


h1 {
  margin: 0;
  text-decoration: none;
  line-height: 0;
}

main {
  margin: 20px;
}

/* TABLE URL */
.api-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 60px;
  clear: both;
}

.api-table th {
  background-color: #215baa;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
}

.api-table td {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
}

.caixinha {
  background-color: #1c7ae9;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.caixinha li {
  color: #ffffff;
}

.urlApi {
  font-weight: bold;
  color: #ffffff;
}

.list {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.list li {
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.copy-button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #1c86ff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.copy-button:hover {
  background-color: #0f4d95;
}

.btnContainer button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #555;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnContainer button:hover {
  background-color: #222222;
}

/* TABLES DA API */

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}

th,
td {
  border: 1px solid #449bff;
  padding: 8px;
  text-align: left;
  font-size: 14px;
}

th {
  background-color: #1c7ae9;
  color: #ffffff;
}

.exemploJson {
  display: none;
  transition: all 2s ease;
  overflow: auto;
  max-height: 20rem;
}

.jsonTitle {
  font-weight: bold;
  width: 50px;
  text-align: center;
}

.jsonCode {
  font-family: monospace;
  white-space: pre;
  overflow: auto;
  max-height: 150px;
  overflow-x: auto;
  max-width: 100%;
  padding: 10px;
  font-size: 14px;
}

.exemploJson2 {
  display: none;
  transition: all 2s ease;
  overflow: auto;
  max-height: 20rem;
}

.exemploJsonPost {
  display: none;
  transition: all 2s ease;
  overflow: auto;
  max-height: 20rem;
}

.exemploJsonDelete {
  display: none;
  transition: all 2s ease;
  overflow: auto;
  max-height: 20rem;
}

.exemploJsonPut {
  display: none;
  transition: all 2s ease;
  overflow: auto;
  max-height: 20rem;
}

.showJson {
  display: block;
  transition: all 2s ease;
}

.jsonTitle {
  font-weight: bold;
}

.json {
  font-family: monospace;
  overflow-x: auto;
  max-width: 100%;
  padding: 10px;
  font-size: 14px;
  /* reduzindo o tamanho da fonte */
}

.endpoint {
  margin-bottom: 20px;
}

#endpointFinal {
  margin-bottom: 15rem;
}

.endpoint h2 {
  margin: 0;
}

.endpoint p {
  margin-top: 5px;
}

/* FOOTER */

footer {
  background-color: #1c7ae9;
  color: #ffffff;
  margin-top: -10rem;
  padding: 10px 0;
  font-size: 16px;
  position: absolute;
  width: 100%;
  left: 0;
}

footer a {
  color: #ffffff;
  margin-right: 10px;
  margin: 1rem;
}

footer a:hover {
  color: #00bfff;

}

footer hr {
  border-top: 1px solid #ffffff;
  margin: 1rem;
  margin: 20px 0;
}

footer p {
  margin: 1rem;
  margin-bottom: 10px;
}

footer .container {
  max-width: 100%vw;
  margin: 1rem;

}

footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem;

}

footer .col-md-6 {
  width: 50%;

}

footer .col-md-6 p:last-child {
  margin-bottom: 0;

}

@media (max-width: 767px) {
  footer .col-md-6 {
    width: 100%;
    margin-bottom: 20px;
    
  }
}

@media screen and (max-width: 480px) {
  .header-nav h1 {
    font-size: 18px;
    white-space: nowrap;
    margin: 0;
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;

  }

  .logo span {
    font-size: 18px;
    white-space: nowrap;
    margin-left: -2rem;

  }

  .logo img {
    transform: scale(0.5);
    white-space: nowrap;
  }



  @keyframes transform {
    0% {
      transform: translateX(0rem) rotateZ(45deg);
    }

    75% {
      transform: translateX(21rem) rotateZ(45deg);
    }

    80% {
      transform: translateX(21rem) rotateZ(45deg) scale(-1.8);
      opacity: 0;
    }

    85% {
      transform: translateX(0rem) rotateX(405deg) scale(-1.8);
      opacity: 0;
    }

    100% {
      transform: translateX(0rem) rotateZ(0deg);
      opacity: 1;
    }
  }
}