* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 60px;
    width: 100%;
    font-family: sans-serif;
    font-size: 20px;
    overflow-x: hidden;
    background-color: #ffffff;
    color: #333333;
}


  

header {
    color: #ffffff;
    padding: 20px;
    text-decoration: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    font-size: 1rem;
    background-color: #215baa;

}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    background-color: #215baa;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo span {
    padding: 0 1rem 0 0.5rem;
    animation: title 2s ease-in;
    position: relative;
    z-index: 4;
    font-size: 2.7rem;
    font-weight: bolder;
    color: #fff;
    margin-left: -1rem;
    text-transform: uppercase;
    white-space: nowrap;

}

h1 {
    margin: 0;
    text-decoration: none;
    line-height: 0;
}

main {
    margin: 20px;
}

.titleNav {
    margin-left: 1rem;
}


.btnNav {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.btnNav button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #1c86ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


@keyframes title {
    from {
        transform: translateX(-1rem);
        color: #2ea9ff;
        opacity: 0;
    }

    to {
        transform: translateX(0rem);
    }
}

#logoAnimada {
    position: relative;
    z-index: 5;
    animation: transform 2.3s cubic-bezier(0.175, 0.885, 0.32, 1.25) normal;
    display: block;

}

@keyframes transform {
    0% {
        transform: translateX(0rem) rotateZ(45deg);
    }

    75% {
        transform: translateX(21rem) rotateZ(45deg);
    }

    80% {
        transform: translateX(21rem) rotateZ(45deg) scale(0.8);
        opacity: 0;
    }

    85% {
        transform: translateX(0rem) rotateX(405deg) scale(0.8);
        opacity: 0;
    }

    100% {
        transform: translateX(0rem) rotateZ(0deg);
        opacity: 1;
    }
}




main {
    margin: 20px;
}

/* TABELA CADASTRO */



table {
    border-collapse: collapse;
    width: 80%;
    margin: 1rem;
    margin-bottom: 30px;
    margin-top: 190px;
}



th,
td {
    border: 1px solid #449bff;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

th {
    background-color: #1c7ae9;
    color: #ffffff;
}


.tableregiste{
    margin-top: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.table-header {
    text-align: left;
    gap: 1rem;
    margin-bottom: 20px;
    
  }

  .table-header h1{
    padding: 1rem;
  }

  .table-header p{
    padding: 0.5rem;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .table th, .table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  

.endpoint {
    margin-bottom: 20px;
  }
  
  #endpointFinal {
    margin-bottom: 15rem;
  }
  
  .endpoint h2 {
    margin: 0;
  }
  
  .endpoint p {
    margin-top: 5px;
  }

/* FOOTER */

footer {
    background-color: #1c7ae9;
    color: #ffffff;
    margin-top: -10rem;
    padding: 10px 0;
    font-size: 20px;
    position: absolute;
    width: 100%;
    left: 0;
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #ffffff;
    margin-right: 10px;
    margin: 1rem;
}

footer a:hover {
    color: #00bfff;

}

footer hr {
    border-top: 1px solid #ffffff;
    margin: 1rem;
    margin: 20px 0;
}

footer p {
    margin: 1rem;
    margin-bottom: 10px;
}

footer .container {
    max-width: 100%vw;
    margin: 1rem;

}

footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem;

}

footer .col-md-6 {
    width: 50%;

}

footer .col-md-6 p:last-child {
    margin-bottom: 0;

}

@media (max-width: 767px) {
    footer .col-md-6 {
        width: 100%;
        margin-bottom: 20px;

    }
}

@media screen and (max-width: 480px) {
    .header-nav h1 {
        font-size: 18px;
        white-space: nowrap;
        margin: 0;
    }

    .header-nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;

    }

    .logo span {
        font-size: 18px;
        white-space: nowrap;
        margin-left: -2rem;

    }

    .logo img {
        transform: scale(0.5);
        white-space: nowrap;
    }



    @keyframes transform {
        0% {
            transform: translateX(0rem) rotateZ(45deg);
        }

        75% {
            transform: translateX(21rem) rotateZ(45deg);
        }

        80% {
            transform: translateX(21rem) rotateZ(45deg) scale(-1.8);
            opacity: 0;
        }

        85% {
            transform: translateX(0rem) rotateX(405deg) scale(-1.8);
            opacity: 0;
        }

        100% {
            transform: translateX(0rem) rotateZ(0deg);
            opacity: 1;
        }
    }
}