body{
    font-family: sans-serif;

}

.table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
  }
  
  th,
  td {
    border: 1px solid #449bff;
    padding: 8px;
    text-align: left;
    font-size: 14px;
  }
  
  th {
    background-color: #1c7ae9;
    color: #ffffff;
  }

  .examplesOff{
    overflow: auto;
    overflow-x: auto;
    display: none
  }

  .examplesOn{
    display: block;
    overflow: auto;
    overflow-x: auto;
  }